.sidebar{
    background-color: #fff !important;
    color: var(--secondry-color) !important;
}
.sidebar a{
    color: var(--secondry-color) !important;

}
.sidebar a.active ,.sidebar a:hover {
    color: var(--primary-color) !important;
  }
.sidebar a.active .active-item , .sidebar a.active i{
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}