footer {
  background-color: var(--secondry-color);
}
footer a {
  text-decoration: none;
  color: var(--white);
}
footer a:hover {
    color: var(--primary-color);
  }

footer h6{
    color: var(--primary-color);
}
